
div#gameBox {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: darkslategray;
    max-width: 640px;
    aspect-ratio: 1 / 1;
}

div#gameSquare {
    border-style: solid;
    border-color: darkslategray;
    border-width: 0.5px;
    
    box-sizing: border-box;
}

div#spacer {
    height: 20px;
}

.highlight {
    background-color: black;
}